<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214711395443-miep11cdv2cevbq6rh52ie950l69s70b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214711395443-miep11cdv2cevbq6rh52ie950l69s70b</string>
	<key>API_KEY</key>
	<string>AIzaSyD2l0tyed0xstWkhckkY37JY3gcoUhnF5o</string>
	<key>GCM_SENDER_ID</key>
	<string>214711395443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dukkantek</string>
	<key>PROJECT_ID</key>
	<string>dukkantek-c215c</string>
	<key>STORAGE_BUCKET</key>
	<string>dukkantek-c215c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214711395443:ios:398c0444985552e3ff7606</string>
</dict>
</plist>